.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.heading {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.card {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.subheading {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
  color: #555;
}

.p {
  font-size: 1rem;
  line-height: 1.5;
  color: #444;
}

.link {
  color: #007bff;
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}

.button {
  display: inline-block;
  margin-top: 10px;
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: bold;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.button:hover {
  background-color: #0056b3;
}


.submittedMessage {
  color: #d9534f; /* Bootstrap red color for indicating warning/error */
  font-size: 16px;
  font-weight: bold;
  margin-top: 20px;
  padding: 10px;
  border: 1px solid #d9534f; /* Red border to make the message stand out */
  background-color: #f2dede; /* Light red background */
  border-radius: 5px;
  text-align: center;
}

@media (max-width: 600px) {
  .container {
    padding: 10px;
  }

  .heading {
    font-size: 1.5rem;
  }

  .card {
    padding: 15px;
  }

  .subheading {
    font-size: 1.25rem;
  }

  .button {
    padding: 8px 16px;
    font-size: 0.875rem;
  }
}